# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/baekjoon/FileContentIndex/08d82d47-787a-4457-9587-b6c24cc4159b.vsidx
.vs/baekjoon/FileContentIndex/10f6583d-796b-41f5-98ba-1308487bb4d9.vsidx
.vs/baekjoon/FileContentIndex/a82fd165-3629-48f7-9449-b3cb436bc7c7.vsidx
.vs/baekjoon/FileContentIndex/ddc2323f-b74e-4616-a0fb-4a1bdb6e2409.vsidx
.vs/baekjoon/FileContentIndex/read.lock
.vs/baekjoon/v17/.suo
.vs/baekjoon/v17/Browse.VC.db
.vs/baekjoon/v17/Browse.VC.db-shm
.vs/baekjoon/v17/Browse.VC.db-wal
.vs/baekjoon/v17/Browse.VC.opendb
.vs/baekjoon/v17/ipch/AutoPCH/4d6771ad335ac7a1/VCTMP4792_587514.1000.50AB87C7.ipch
.vs/baekjoon/v17/ipch/AutoPCH/83fcc1c7b983280b/VCTMP4792_538806.1000.50AB87C7.ipch
.vs/baekjoon/v17/ipch/AutoPCH/a3439c1405057c7/VCTMP4792_812535.1000.50AB87C7.ipch
.vs/baekjoon/v17/ipch/AutoPCH/c570225bd3758697/1000.ipch
.vscode/settings.json
.gitignore
.vs/slnx.sqlite
.vs/baekjoon/FileContentIndex/8c8c6db3-aa57-417d-901d-18c3c00ff8b1.vsidx
.gitignore
